.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.listContainer {
  align-items: center;
  display: flex;
  justify-content: flex-start;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.navLink {
  padding: 2.5% 10%;
  width: 100%;
}

@media (max-width: 600px) {
  .header {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .listContainer {
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    ul {
      justify-content: center;
    }

    li {
      padding: 2.5% 0;
    }
  }
}
